.vscode
.DS_Store
*.log
.idea
test-report.xml
.github
*.cy.js
*.test.mjs
.git

# misc folders
coverage
dist
docs
public
recipes
cypress
ext

# ???
http:/*
server.log
jambox.config.js
.jambox

# yarn
.pnp.*
.yarn/*
